{
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "printWidth": 100,
  "singleQuote": true,
  "semi": true,
  "bracketSameLine": true,
  "importOrder": ["^db", "^cache", "^validation", "^common", "^context", "^ui", "^@/", "^\\."],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "tailwindConfig": "./packages/configs/tailwind.config.cjs",
  "tailwindAttributes": ["cn", "tv"],
  "tailwindFunctions": ["cn", "tv"]
}
