{
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "printWidth": 100,
  "singleQuote": true,
  "semi": true,
  "bracketSameLine": true,
  "importOrder": ["^db", "^validation", "^common", "^ui", "^@/", "^\\."],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "tailwindConfig": "./packages/config/tailwind.config.js",
  "tailwindAttributes": ["cva", "cn"],
  "tailwindFunctions": ["cva", "cn"]
}
